<html>
<head>
</head>


<body>
<section id="main">
<% t = 0 %>
<% @customer_object_array.each do |val| %>
 
  <b>
  Email: <%= val.customer_email  %>
  </b>
  <% i = 0 %>
  <% val.links.each do |link|  %>

    <li><%= link_to val.links_filename[i], link %></li>
    <% i += 1%>
  <% end %>
  <% t += 1 %>
<% end %>


<% Customer.all.each do |customer| %>
  
  
  <% if customer.contact_email == @customer_object.customer_email %>       
  <%= @customer_object.links.join('<br /><br />').html_safe %>

<% end %>
<% end %>
</section>
</body>



</html>
